* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  color: white;
  width: 400px;
  background: linear-gradient(145deg, #2193b0, #6dd5ed);
  margin: 50px auto;
  padding: 20px;
}
.search-bar {
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid white;
}
.search-icon {
  margin-right: 5px;
  position: absolute;
  left: 0;
}
#search-input {
  left: 0;
  border: 0;
  outline: 0;
  padding: 3px 3px 3px 10px;
  background: transparent;
  height: 20px;
  color: white;
}
#search-input::placeholder {
  color: rgb(206, 206, 206);
}
.info-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  padding: 80px 50px;
}
.city-name {
  font-size: 29px;
  margin-bottom: 7px;
  font-weight: 600;
}
.weather-state {
  font-size: 13px;
}
.weather-icon {
  width: 110px;
  height: 110px;
}
.temperature {
  font-size: 80px;
  font-weight: lighter;
  line-height: 0.5;
  position: relative;
}
.temperature::after {
  content: "o";
  position: absolute;
  font-size: 30px;
}
.additional-section {
  position: relative;
  border-top: 1px solid white;
  display: flex;
  padding: 10px 20px;
  font-size: 13px;
}
.additional-section .row {
  width: 50%;
}
.additional-section .item {
  margin-bottom: 10px;
}
.additional-section .item:nth-child(even) {
  margin-bottom: -10px;
}
.lable {
  font-weight: bold;
}
